*.[a,o,gif,pdf,png,pyc,root,so,swo,swp,tex]
*/*.[a,o,gif,pdf,png,pyc,root,so,swo,swp,tex]
*/*/*.[a,o,gif,pdf,png,pyc,root,so,swo,swp,tex]
*/*/*/*.[a,o,gif,pdf,png,pyc,root,so,swo,swp,tex]
*/*/*_dict_*
analysis/bin/analysis
analysis/lib
cfg/tmpFiles
display/cards/tmpFiles
display/lib
tools/lib
workdir
*dictgen.mk
*gen.mk
*/*_dict_*
# The following were not being ignored properly despite the first line
*.gif
*.tex
*.so
